extends layout 

block content 
    row.banner
    .col-12 
        h1 Starcups

    .row   
        .col-12.col-lg-9
            .row
                .col-12.col-md-6
                    p.rating
                        i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                            i.fas.fa-star
                    p.address 125 High Street, Reading, RG6 1PS
                    .card.card-primary 
                        .card-block 
                            h2.card-title Opening Hours
                            p.card-text Monday - Friday : 7:00am - 7:00pm
                            p.card-text Saturday : 8:00am - 5:00pm
                            p.card-text Sunday : Closed
        .col-12.col-md-4 
            p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.