mixin outputRating(rating)
    - var fullStars = Math.floor(rating);
    - var halfStar = rating % 1 !== 0;
    - var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);

    - for (var i = 0; i < fullStars; i++)
        i.fas.fa-star

    - if (halfStar)
        i.fas.fa-star-half-alt

    - for (var i = 0; i < emptyStars; i++)
        i.far.fa-star